body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #00251C;
    color: #E1E2E4;
    padding: 20px;
    text-align: center;
}
footer {
    background: #033f30;
    color: #E1E2E4;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.recipe-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.recipe-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.recipe-item h2 {
    margin: 0;
    font-size: 20px;
    padding: 10px;
    min-width: 200px;
}

.recipe-item p {
    margin: 0;
    padding: 10px;
    color: #777;
}

.recipe-item a {
    background: #00251C;
    color: #fff;
    min-width: 150px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-right: 1rem;
    transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
}

.recipe-item a:hover {
    background: #03362a;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .recipe-item {
        flex-direction: column;
    }

    .recipe-item img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .recipe-item h2 {
        font-size: 20px;
        padding: 0;
        margin-bottom: 10px;
    }

    .recipe-item p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .recipe-item a {
        width: 100%;
        text-align: center;
    }
}